.vbox-information-panel {
    -fx-padding: 20 15 20 30;
}

.text-option {
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 16pt;
}

.text-option2 {
    -fx-font-family: "Segoe UI Semibold", Helvetica, Arial, sans-serif;
    -fx-font-size: 13pt;
    -fx-background-color: #3E3E3E;
}

.text-header {
    -fx-font-family: "Segoe UI Bold", Helvetica, Arial, sans-serif;
    -fx-font-size: 25pt;
    -fx-fill: #3E3E3E;
    -fx-text-fill: #3E3E3E;
    -fx-translate-x: -10;
}

.transparent-highlight-button {
    -fx-padding: 5 10 5 10;
    -fx-pref-height: 30;
    -fx-pref-width: 200;
    -fx-text-alignment: LEFT;
}

.transparent-highlight-button:hover {
    -fx-background-color: #E3E3E3;
}

.transparent-highlight-button:focused {
    -fx-background-color: #3E3E3E;
    -fx-text-fill: #fff;
}

.no-highlight-button {
    -fx-padding: 5 10 5 10;
    -fx-pref-height: 30;
    -fx-pref-width: 200;
    -fx-text-alignment: LEFT;
}

.no-highlight-button:hover {
    -fx-background-color: #E3E3E3;
}

.no-highlight-button:focused {
    -fx-background-color: #fff;
}

.text-title {
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 40pt;
    -fx-fill: #3E3E3E;
}

.text-subtitle {
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 25pt;
    -fx-fill: #3E3E3E;
}

.jfx-check-box {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 15 !important;
    -fx-text-fill: #3E3E3E;
}

.jfx-date-picker{
    -fx-font-family: "Segoe UI";
    -fx-font-size: 15;
    -fx-prompt-text-fill: #717375;
    -fx-background-color: #FFFFFF;
    -jfx-focus-color: #3E3E3E;
    -jfx-unfocused-color: #2E2E30;
}
